<div class="section">
  <h3>Empty</h3>
  <ui-webview></ui-webview>
</div>

<div class="section">
  <h3>src="packages://ui-kit-preview/test.html"</h3>
  <ui-webview src="packages://ui-kit-preview/test.html"></ui-webview>
</div>

<div class="section">
  <h3>src="http://electron.atom.io"</h3>
  <ui-button id="github">Go to Github</ui-button>
  <ui-button id="electron">Go to Electron</ui-button>
  <ui-webview id="online" src="http://electron.atom.io"></ui-webview>
</div>
