<div id="settings"
    :loaded="loaded"
>
    <div class="slider">
        <div
            :active="tab === 0"
            v-on:click="_selectTab(0)"
        >{{T('PROJECT_SETTINGS.group.title')}}</div>
        <div
            :active="tab === 1"
            v-on:click="_selectTab(1)"
        >{{T('PROJECT_SETTINGS.module.title')}}</div>
        <div
            :active="tab === 2"
            v-on:click="_selectTab(2)"
        >{{T('PROJECT_SETTINGS.preview.title')}}</div>
        <div
            :active="tab === 3"
            v-on:click="_selectTab(3)"
        >{{T('PROJECT_SETTINGS.engine.title')}}</div>
        <div
            :active="tab === 4"
            v-on:click="_selectTab(4)"
        >{{T('PROJECT_SETTINGS.service.title')}}</div>
    </div>
    <div class="tabs">
        <header>
            <h1
                v-if="tab === 0"
            >{{T('PROJECT_SETTINGS.group.title')}}</h1>
            <h1
                v-if="tab === 1"
            >{{T('PROJECT_SETTINGS.module.title')}}</h1>
            <h1
                v-if="tab === 2"
            >{{T('PROJECT_SETTINGS.preview.title')}}</h1>
            <h1
                v-if="tab === 3"
            >{{T('PROJECT_SETTINGS.engine.title')}}</h1>
            <h1
                v-if="tab === 4"
            >{{T('PROJECT_SETTINGS.service.title')}}</h1>
        </header>
        <section>
            <group
                v-if="tab === 0"
                :list="group.list"
                :collision="group.collision"
            ></group>
            <module
                v-if="tab === 1"
                :excluded="module.excluded"
            ></module>
            <preview
                v-if="tab === 2"
                :project="preview.project"
                :simulator="preview.simulator"
            ></preview>
            <engine
                v-if="tab === 3"
                :engine="engine"
            ></engine>
            <service
                v-if="tab === 4"
                :analytics="service.analytics"
                :facebook="service.facebook"
            ></service>
        </section>
        <footer>
            <ui-button class="green"
                v-on:click="_save"
            >{{T('PROJECT_SETTINGS.save')}}</ui-button>
        </footer>
    </div>

    <div class="wait-popup"
        :active="loading"
    >
        <div class="background"></div>
        <ui-loader></ui-loader>
    </div>
</div>